# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts
.env
.env.*
!.env.example

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# tests and temporary output
coverage/
.tmp*/
*.log
